@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

#root {
  min-height: 100svh;
}

.scroll-thin::-webkit-scrollbar {
  width: 6px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  background: #d9c2ff;
  border-radius: 999px;
}